grammar TOML 

  rule string
    '"' string:([^"\\] / "\\" . )* '"' <StringLiteral>
  end

  rule date
    [0-9] 4..4 '-' [0-9] 2..2 '-' [0-9] 2..2 
    'T' [0-9] 2..2 ':' [0-9] 2..2 ':' [0-9] 2..2 'Z' <DateLiteral>
  end

  rule float
    ('+' / '-')? [0-9]+ ('.' [0-9]+) <FloatLiteral>
  end

  rule integer
    ('+' / '-')? [0-9]+ <IntegerLiteral>
  end

  rule boolean
    (true / false)
  end

  rule true
    'true' <BooleanLiteral>
  end

  rule false
    'false' <BooleanLiteral>
  end

end
